<nav *ngIf="comments()?.length / itemsPerPage() > 1">
  <ul class="pagination justify-content-end">
    <li class="page-item" [ngClass]="{ disabled: page() === 1 }">
      <a class="page-link" (click)="onPagerChange(page() - 1)"><span>&laquo;</span></a>
    </li>
    <li
      class="page-item"
      [ngClass]="{ active: item === page() }"
      *ngFor="let item of getArrayData()"
    >
      <a class="page-link" (click)="onPagerChange(item)">{{ item }}</a>
    </li>
    <li class="page-item" [ngClass]="{ disabled: page() === paginationLength() }">
      <a class="page-link" (click)="onPagerChange(page() + 1)"><span>&raquo;</span></a>
    </li>
  </ul>
</nav>
