<nav *ngIf="comments()?.length / 5 > 1">
  <ul class="pagination justify-content-end">
    <li class="page-item" [ngClass]="{ disabled: page() === 1 }">
      <a class="page-link" (click)="onPagerChange(page() - 1)">Previous</a>
    </li>
    <li
      class="page-item"
      [ngClass]="{ active: item === page() }"
      *ngFor="let item of getArrayData()"
    >
      <a class="page-link" (click)="onPagerChange(item)">{{ item }}</a>
    </li>
    <li class="page-item" [ngClass]="{ disabled: page() === (this.comments()?.length / 5) }">
      <a class="page-link" (click)="onPagerChange(page() + 1)">Next</a>
    </li>
  </ul>
</nav>
