<div class="mt-5 mb-3">
  <div class="pt-5 container">
    <app-profile-header [profile]="profile()" [photo]="photo()"></app-profile-header>
    <div class="d-flex w-100">
      <div class="col-9 shadow-lg mt-4 align-items-start w-100">
        <app-profile-detail
          [safecroppedImage]="safeCroppedImage()"
          [currentUser]="currentUser()"
          [profile]="profile()"
          [listInfo]="listInfo()"
          (followUser)="follow($event)"
          (unFollowUser)="unfollow($event)"
          (updateProfile)="updateProfile($event)"
          (uploadPhoto)="uploadPhoto($event)"
          (unsafeCroppedImage)="getUnsafeCroppedImage($event)"
        >
        </app-profile-detail>
      </div>
      <div class="col-3 w-100 pt-4 pr-0 pl-4">
        <app-profile-list (listInfo)="getListInfo($event)"></app-profile-list>
      </div>
    </div>
  </div>
</div>
