<div class="card-header d-flex px-auto py-2 title justify-content-center">Comments</div>
<div class="card-body pb-2 pt-2">
  @for (comment of paginatedComments(); track comment; let i = $index) { @if (this.user()?.userName ===
  comment.userName) {
  <div class="d-flex mt-1 flex-row align-items-center">
    <strong class="mr-3" style="margin-bottom: 0; font-size: 18px; color: #0cabba">{{
      comment.fullName
    }}</strong>
    <small class="text-muted" style="margin-bottom: 0; font-size: 14px">{{
      comment.createdAt | date : "d.MM.Y" + " HH:mm"
    }}</small>
  </div>
  <div class="d-flex flex-row justify-content-start">
    <!-- handleImageError -->
    <img
      class="rounded-circle"
      [src]="photos[i]"
      alt="avatar 1"
      style="width: 45px; height: 100%"
    />
    <div>
      <p
        class="small p-2 ms-3 mb-3 rounded-3 ml-3"
        style="background-color: #c8d6e4; border-radius: 7px"
      >
        {{ comment.body }}
      </p>
    </div>
  </div>
  } @else {
  <div class="d-flex mt-2 flex-row align-items-center">
    <strong class="mr-3" style="margin-bottom: 0; font-size: 18px; color: #0cabba">{{
      comment.fullName
    }}</strong>
    <small class="text-muted" style="margin-bottom: 0; font-size: 14px">{{
      comment.createdAt | date : "d.MM.Y" + " HH:mm"
    }}</small>
  </div>
  <div class="d-flex flex-row justify-content-start">
    <!-- handleImageError -->
    <img
      class="rounded-circle"
      [src]="photos[i]"
      alt="avatar 1"
      style="width: 45px; height: 100%"
    />
    <div>
      <p
        class="small p-2 ms-3 mb-3 text-white rounded-3 ml-3"
        style="background-color: #48b0f7; border-radius: 7px"
      >
        {{ comment.body }}
      </p>
    </div>
  </div>
  } } @empty {
  <div class="alert alert-warning mt-2" role="alert">No comments yet</div>
  }
</div>
<div class="card-body py-0">
  <app-pager
    [comments]="commentsList()"
    [page]="currentPage()"
    (pageChanged)="onPageChanged($event)"
    ></app-pager>
    <!-- [commentsLength]="commentsLength()" -->
</div>
<div>
  <div class="card-footer text-muted pb-0">
    <form [formGroup]="addComment" (ngSubmit)="submitFunc()" class="d-flex w-100">
      <div class="flex-grow-1">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Type message"
            formControlName="description"
          />
          <div class="invalid-feedback">Please enter a description</div>
        </div>
      </div>
      <div class="form-group">
        <button
          class="btn btn-warning btn-md float-right btn-send"
          type="submit"
          [disabled]="!addComment.valid"
        >
          Send
        </button>
      </div>
    </form>
  </div>
</div>
